<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @*<h1>Details.cshtml form Views/Home folder</h1>*@


    @*  in Razor you can write html and c# together, the @ and @ { } tells razor we
        are using c#
    *@
    @*<h3> @ViewData["PageTitle"]</h3>*@
    
    
    <h3> @ViewBag.PageTitle</h3>


    @{
        // explicite cast required for non strings
        //
        //var employee = ViewBag["Employee"] as EmployeeManagement.Models.Employee;
        
    }

<div>
    @*Name: @employee.Name*@
    Name: @ViewBag.Employee.Name
</div>
<div>
    @*Email: @employee.Email*@
    Name: @ViewBag.Employee.Email
</div>
<div>
    @*Department: @employee.Department*@
    Name: @ViewBag.Employee.Department
</div>
</body>
</html>